extends layout
block content
    div.clearfix
        h1 Experiments
        div.input-group.col-sm-3.pull-right
            span.input-group-addon#search-label
              i.glyphicon.glyphicon-search
            input.form-control#search_bar(type="text", placeholder="Search", aria-describedby="search-label")
    div.text-center#experiments

block js
    script(src="index.js")